<div id="comments">
  <% @comments.each do |comment| %>
    <div class="comment">
      <%= simple_format comment.content %>
  			<% if (current_user && policy(@comment).update?) %>


<td class="pull-right" width="25%">
      <% if !comment.approved %>
          <%= button_to 'Approve', polymorphic_path([@commentable, comment], comment: { approved: true }), method: :put, class: "btn btn-success btn-s" %>
          <% else %>
             <%= button_to 'Disapprove', polymorphic_path([@commentable, comment], comment: { approved: false }), method: :put, class: "btn btn-warning btn-s" %>
            <% end %>
      </td>
     <td class = "pull-right" width="25%">
      <%= button_to 'Delete', polymorphic_path([@commentable, comment]), method: :delete, class: "btn btn-danger btn-s" %>
       </td>
    </div>
  <% end %>
<% end %>
</div>

