
  <table class="table">
      <% @commentable.comments.each do |comment| %>
      <tr>
      <td width="50%">
      <% if (current_user && policy(@comment).publish?) || comment.approved || (current_user && current_user == @commentable.author)%>

              <blockquote>
      <p><%= comment.content %></p>
              </blockquote>
      <% end %>
                </td>

      <% if (current_user && policy(@comment).update?) %>

      <td class="pull-right" width="25%">
      <% if !comment.approved %>
      <%= button_to 'Approve', polymorphic_path([@commentable, comment], comment: { approved: true }), method: :put, class: "btn" %>
      <% else %>
      <%= button_to 'Disapprove', polymorphic_path([@commentable, comment], comment: { approved: false }), method: :put, class: "btn" %>
      <% end %>
      <%= button_to 'Delete', polymorphic_path([@commentable, comment]), method: :delete, class: "btn" %>
      </td>

      <% end %>
<% end %>

     </tr>

</table>

